<div class="filter"></div>
<header>
    <section>
        <nav>
           <button *ngIf="this.auth.isLoggedIn()" (click)="this.auth.logout()">Log out</button>
        </nav>
    </section>
    <section class="hero">
        <h1>Best Photo Competition</h1>
        <h2 *ngIf="!this.auth.isLoggedIn()">Send a picture or vote for your favourite!</h2>
    </section>
</header>


<main>
    <router-outlet></router-outlet>
</main>

<footer>
    <section>
        <h4>Copyright @2023 Priskin Zsuzsanna</h4>
    </section>
</footer>
