<section class="form">
    <div class="form">
        <div class="form-group">
            <label>Title</label>
            <input [(ngModel)]="actual.title" type="text">
        </div>
        <div class="form-group">
            <label >Url</label>
            <input [(ngModel)]="actual.url" type="text">
        </div>
        <div class="form-group">
            <button (click)="add()">Send</button>
        </div>
    </div>
</section>

<section class="vote">
    <div class="img-grid">
        <div *ngFor="let p of this.service.pictures" class="item">
            <figure>
                <img src="{{p.url}}" alt="{{p.title}}">
                <figcaption>{{p.title}}</figcaption>
            </figure>
            <p>Votes: <span>{{p.voters.length - 1}}</span></p>
            <button (click)="addVote(p)">Vote</button>
            <p *ngIf="error">You can't vote multiple times!</p>
            </div>
    </div>
</section>
