<section>
    <div class="form">
        <h2>Send a picture!</h2>
        <div class="form-group">
            <label>Title</label>
            <input [(ngModel)]="actual.title" type="text">
        </div>
        <div class="form-group">
            <label >Url</label>
            <input [(ngModel)]="actual.url" type="text">
        </div>
        <div class="form-group">
            <button (click)="add()">Send</button>
        </div>
    </div>
</section>

<section>
    <h2>Vote for your favourite!</h2>
    <p [ngClass]="this.service.error ? 'error' : 'error hidden'">You can't vote multiple times!</p>
    <div class="img-grid">
        <div *ngFor="let p of this.service.picturesMap | keyvalue" class="item">
            <figure>
                <figcaption>{{p.value.title}}</figcaption>
                <img src="{{p.value.url}}" alt="{{p.value.title}}">
                <div class="votes">
                    <p class="btn">Votes: <span>{{p.value.votes}}</span></p>
                    <button (click)="this.service.addVoter(this.auth.currentUser(),p.key, p.value)">Vote</button>
                </div>
            </figure>
        </div>
    </div>
</section>
