<section>
    <div class="form">
        <div class="form-group">
            <label>Title</label>
            <input [(ngModel)]="actual.title" type="text">
        </div>
        <div class="form-group">
            <label >Url</label>
            <input [(ngModel)]="actual.url" type="text">
        </div>
        <div class="form-group">
            <button (click)="add()">Send</button>
        </div>
    </div>
</section>

<section class="vote">
    <p *ngIf="this.service.error">You can't vote multiple times!</p>
    <div class="img-grid">
        <div *ngFor="let p of this.service.picturesMap | keyvalue" class="item">
            <figure>
                <img src="{{p.value.url}}" alt="{{p.value.title}}">
                <figcaption>{{p.value.title}}</figcaption>
            </figure>
            <p>Votes: <span>{{p.value.votes}}</span></p>
            <button (click)="this.service.addVoter(p.value.displayName,p.key, p.value)">Vote</button>
        </div>
    </div>
</section>
